<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>06924670-8B49-4021-A02F-799867EC3750</key>
	<dict>
		<key>Command</key>
		<string>/Users/jagashira/.local/bin/geeklets/sys.sh</string>
		<key>DisplayID</key>
		<integer>1</integer>
		<key>DropShadow</key>
		<true/>
		<key>FailureImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgAAQFYGBYWqysoKOExLy/9Kygo4RgWFqoAAQFXAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGBgZ8Rz4+8qWXl//c09P/6+Tl/93T0/+ll5f/
		Rz4+8gYGBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAQHAgJkSS0t9Kt9ff/c
		t7j/7NHS/+7T0//s0dL/3be4/6t9ff9JLS30BwICZQAAAAUAAAAA////AAAA
		AAAAAAAmLhAQzJA+P/+1TEv/xmNe/8twav/LcGr/y3Bq/8ZjXf+0TEv/kD4/
		/y4QEMwAAAAmAAAAAP///wAAAAAABgAATmAZGvitMi//uSwh/8E+Mf/HTED/
		yU9D/8hNQP/DPjL/uiwi/64xL/9gGRr4BwAATQAAAAD///8AAAAAARUAAGiJ
		GBr/wzgx/8tCNP/TV0n/3WZa/+BqXf/eaFr/1VhL/85DNP/GOTL/ihga/xYA
		AGcAAAAB////AAAAAAkYAABslRoW/9JNQP/dYFL/63Jm//KAdv/2hXv/9IF3
		/+10Zv/gYVP/1k5B/5YaFv8YAABrAAAACP///wAAAAANDAAAY4UZEu/iXU3/
		8Hhr//yFef/+lYn//puP//+Xiv/8h3r/8Xlr/+ZdTv+HGRLwDQAAZAAAAAv/
		//8AAAAADwAAAE5aDAfL4FZI//6LgP//mI7//qSY//+rnv/+p5r//5qP//+N
		gf/nWEn/Ww0HywAAAE0AAAAN////AAAAAAwAAAAyDwAAjJInH+z/gHL//6qe
		//+4rP//vrL//7uu//+soP//g3X/lioh7BEAAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF0dAACpkTUq6dt2Z/z6n5D//7Sj//qhkv/bd2r8kTYr6R4AAKoA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAyAAAAZwYAAKI0DgrIYi4l2XlA
		NeJiLiXZNA4KxwYAAKEAAABoAAAAMwAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAfAAAAI8AAACVAAAAjgAAAHsAAABbAAAANAAAABIAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEUA
		AAA2AAAAIgAAAA4AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAARAAAACwAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHQAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		0QAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAdF0AAHRdAAB0XQAAAAAAAAAAA==
		</data>
		<key>FontFamily</key>
		<string>JetBrainsMonoNF-Regular</string>
		<key>FontSize</key>
		<real>14</real>
		<key>GeekletFrame</key>
		<string>{{160, 250}, {430, 355}}</string>
		<key>HasShadow</key>
		<true/>
		<key>RefreshInterval</key>
		<integer>30</integer>
		<key>SetLocale</key>
		<true/>
		<key>SuccessImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgBAQFYFhUWqygnKOEvLi/9KCco4RYVFqsBAQFYAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGAwZ8Pj0+8peYl//S0tP/4+Tl/9LS0/+XmJf/
		Pj0+8gYDBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAUDAQJlLTEt9HqRff+4
		0Ln/1efT/9jo1f/V59P/uNG5/3qRff8tMS30AwECZQAAAAUAAAAA////AAAA
		AAAAAAAmEBYQyz1tP/9Xm03/eLJX/4e6YP+HuWL/h7pg/3ixV/9Wmk3/PWw/
		/xAWEMsAAAAmAAAAAP///wAAAAAAAAAAThY8Gvc8jjD/TJwb/2CnHf9rryz/
		bLEv/2ywLP9iqR7/TJ4b/zyQMP8WPBr3AAAATQAAAAD///8AAAAAAQAIAGge
		YRv/VaUq/2WvIP91uzb/gsZI/4bIS/+DyEj/d743/2exIP9WqSr/HmIb/wAI
		AGcAAAAB////AAAAAAgADABsJ3MY/3C6Nv9/xz3/kNNT/57dYv+i32f/n99k
		/5HWVP+AyD3/cr02/yd0GP8ADQBsAAAACf///wAAAAAMAAYAYydqEPB/yD7/
		lNhW/6PlZv+x8Xb/uPd8/7P0eP+k6Gf/ldpX/4DLQP8maxDvAAYAYwAAAAv/
		//8AAAAADwAAAE4XRwXLd8Y5/6foa/+393v/wv6F/8r/i//F/4b/uPt8/6ru
		bP95yTr/F0kFygAAAEwAAAAN////AAAAAAwAAAAyAAwAjEB6GOyh7Vz/yP+J
		/9X/mP/b/5//2P+b/83/i/+m9F3/Qn4X7AEMAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF4GFQCpTIQc6ZbZU/zC+3n/2P+L/8T6fP+a21b8UIkd6AYXAKkA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAzAAAAZwAFAKIaMwTHQGIZ2FV5
		JuFAYhnZGzQEyAAFAKAAAABnAAAAMgAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAewAAAI8AAACWAAAAjwAAAHsAAABcAAAAMwAAABEAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEcA
		AAA2AAAAIQAAAA0AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAASAAAADAAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHQAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		zQAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAczOAAHMzgABzM4AAAAAAAAAAA==
		</data>
		<key>TextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg63/fz8BAQGG
		</data>
		<key>TextStrikethrough</key>
		<integer>0</integer>
		<key>TextUnderline</key>
		<integer>0</integer>
	</dict>
	<key>0F3B6932-6E27-45AA-9AC8-EE7C9748860B</key>
	<dict>
		<key>GeekletFrame</key>
		<string>{{0, 0}, {0, 0}}</string>
	</dict>
	<key>139CDC0D-091A-456D-B9A3-2AF79EEA89F1</key>
	<dict>
		<key>GeekletFrame</key>
		<string>{{0, 0}, {0, 0}}</string>
	</dict>
	<key>22F5855D-B0E2-4873-88F9-881095BBA391</key>
	<dict>
		<key>BackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg63/fz8BAQGG
		</data>
		<key>Command</key>
		<string>/Users/jagashira/.local/bin/geeklets/cpu_ram.sh</string>
		<key>DisplayID</key>
		<integer>1</integer>
		<key>DropShadow</key>
		<false/>
		<key>FailureImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgAAQFYGBYWqysoKOExLy/9Kygo4RgWFqoAAQFXAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGBgZ8Rz4+8qWXl//c09P/6+Tl/93T0/+ll5f/
		Rz4+8gYGBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAQHAgJkSS0t9Kt9ff/c
		t7j/7NHS/+7T0//s0dL/3be4/6t9ff9JLS30BwICZQAAAAUAAAAA////AAAA
		AAAAAAAmLhAQzJA+P/+1TEv/xmNe/8twav/LcGr/y3Bq/8ZjXf+0TEv/kD4/
		/y4QEMwAAAAmAAAAAP///wAAAAAABgAATmAZGvitMi//uSwh/8E+Mf/HTED/
		yU9D/8hNQP/DPjL/uiwi/64xL/9gGRr4BwAATQAAAAD///8AAAAAARUAAGiJ
		GBr/wzgx/8tCNP/TV0n/3WZa/+BqXf/eaFr/1VhL/85DNP/GOTL/ihga/xYA
		AGcAAAAB////AAAAAAkYAABslRoW/9JNQP/dYFL/63Jm//KAdv/2hXv/9IF3
		/+10Zv/gYVP/1k5B/5YaFv8YAABrAAAACP///wAAAAANDAAAY4UZEu/iXU3/
		8Hhr//yFef/+lYn//puP//+Xiv/8h3r/8Xlr/+ZdTv+HGRLwDQAAZAAAAAv/
		//8AAAAADwAAAE5aDAfL4FZI//6LgP//mI7//qSY//+rnv/+p5r//5qP//+N
		gf/nWEn/Ww0HywAAAE0AAAAN////AAAAAAwAAAAyDwAAjJInH+z/gHL//6qe
		//+4rP//vrL//7uu//+soP//g3X/lioh7BEAAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF0dAACpkTUq6dt2Z/z6n5D//7Sj//qhkv/bd2r8kTYr6R4AAKoA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAyAAAAZwYAAKI0DgrIYi4l2XlA
		NeJiLiXZNA4KxwYAAKEAAABoAAAAMwAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAfAAAAI8AAACVAAAAjgAAAHsAAABbAAAANAAAABIAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEUA
		AAA2AAAAIgAAAA4AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAARAAAACwAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHAAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		0QAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAdF0AAHRdAAB0XQAAAAAAAAAAA==
		</data>
		<key>FontFamily</key>
		<string>LucidaGrande</string>
		<key>FontSize</key>
		<real>10</real>
		<key>GeekletFrame</key>
		<string>{{459.3828125, 188.46484375}, {300, 150}}</string>
		<key>HasShadow</key>
		<false/>
		<key>SetLocale</key>
		<true/>
		<key>SuccessImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgBAQFYFhUWqygnKOEvLi/9KCco4RYVFqsBAQFYAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGAwZ8Pj0+8peYl//S0tP/4+Tl/9LS0/+XmJf/
		Pj0+8gYDBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAUDAQJlLTEt9HqRff+4
		0Ln/1efT/9jo1f/V59P/uNG5/3qRff8tMS30AwECZQAAAAUAAAAA////AAAA
		AAAAAAAmEBYQyz1tP/9Xm03/eLJX/4e6YP+HuWL/h7pg/3ixV/9Wmk3/PWw/
		/xAWEMsAAAAmAAAAAP///wAAAAAAAAAAThY8Gvc8jjD/TJwb/2CnHf9rryz/
		bLEv/2ywLP9iqR7/TJ4b/zyQMP8WPBr3AAAATQAAAAD///8AAAAAAQAIAGge
		YRv/VaUq/2WvIP91uzb/gsZI/4bIS/+DyEj/d743/2exIP9WqSr/HmIb/wAI
		AGcAAAAB////AAAAAAgADABsJ3MY/3C6Nv9/xz3/kNNT/57dYv+i32f/n99k
		/5HWVP+AyD3/cr02/yd0GP8ADQBsAAAACf///wAAAAAMAAYAYydqEPB/yD7/
		lNhW/6PlZv+x8Xb/uPd8/7P0eP+k6Gf/ldpX/4DLQP8maxDvAAYAYwAAAAv/
		//8AAAAADwAAAE4XRwXLd8Y5/6foa/+393v/wv6F/8r/i//F/4b/uPt8/6ru
		bP95yTr/F0kFygAAAEwAAAAN////AAAAAAwAAAAyAAwAjEB6GOyh7Vz/yP+J
		/9X/mP/b/5//2P+b/83/i/+m9F3/Qn4X7AEMAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF4GFQCpTIQc6ZbZU/zC+3n/2P+L/8T6fP+a21b8UIkd6AYXAKkA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAzAAAAZwAFAKIaMwTHQGIZ2FV5
		JuFAYhnZGzQEyAAFAKAAAABnAAAAMgAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAewAAAI8AAACWAAAAjwAAAHsAAABcAAAAMwAAABEAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEcA
		AAA2AAAAIQAAAA0AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAASAAAADAAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHAAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		zQAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAczOAAHMzgABzM4AAAAAAAAAAA==
		</data>
		<key>TextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<key>TextStrikethrough</key>
		<integer>0</integer>
		<key>TextUnderline</key>
		<integer>0</integer>
	</dict>
	<key>2D054937-B04F-4EB2-AE03-7AB9D0852493</key>
	<dict>
		<key>GeekletFrame</key>
		<string>{{0, 0}, {0, 0}}</string>
	</dict>
	<key>43B2042F-3244-429C-BBB9-04F95711D92D</key>
	<dict>
		<key>GeekletFrame</key>
		<string>{{0, 0}, {0, 0}}</string>
	</dict>
	<key>6094D03B-6A37-44AA-9D88-0E9569B5B2A5</key>
	<dict>
		<key>GeekletFrame</key>
		<string>{{0, 0}, {0, 0}}</string>
	</dict>
	<key>6E505BA2-87BE-46EE-B533-C3B72663392A</key>
	<dict>
		<key>Command</key>
		<string>/Users/jagashira/.local/bin/geeklets/weather.sh</string>
		<key>DisplayID</key>
		<integer>1</integer>
		<key>DropShadow</key>
		<true/>
		<key>FailureImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgAAQFYGBYWqysoKOExLy/9Kygo4RgWFqoAAQFXAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGBgZ8Rz4+8qWXl//c09P/6+Tl/93T0/+ll5f/
		Rz4+8gYGBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAQHAgJkSS0t9Kt9ff/c
		t7j/7NHS/+7T0//s0dL/3be4/6t9ff9JLS30BwICZQAAAAUAAAAA////AAAA
		AAAAAAAmLhAQzJA+P/+1TEv/xmNe/8twav/LcGr/y3Bq/8ZjXf+0TEv/kD4/
		/y4QEMwAAAAmAAAAAP///wAAAAAABgAATmAZGvitMi//uSwh/8E+Mf/HTED/
		yU9D/8hNQP/DPjL/uiwi/64xL/9gGRr4BwAATQAAAAD///8AAAAAARUAAGiJ
		GBr/wzgx/8tCNP/TV0n/3WZa/+BqXf/eaFr/1VhL/85DNP/GOTL/ihga/xYA
		AGcAAAAB////AAAAAAkYAABslRoW/9JNQP/dYFL/63Jm//KAdv/2hXv/9IF3
		/+10Zv/gYVP/1k5B/5YaFv8YAABrAAAACP///wAAAAANDAAAY4UZEu/iXU3/
		8Hhr//yFef/+lYn//puP//+Xiv/8h3r/8Xlr/+ZdTv+HGRLwDQAAZAAAAAv/
		//8AAAAADwAAAE5aDAfL4FZI//6LgP//mI7//qSY//+rnv/+p5r//5qP//+N
		gf/nWEn/Ww0HywAAAE0AAAAN////AAAAAAwAAAAyDwAAjJInH+z/gHL//6qe
		//+4rP//vrL//7uu//+soP//g3X/lioh7BEAAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF0dAACpkTUq6dt2Z/z6n5D//7Sj//qhkv/bd2r8kTYr6R4AAKoA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAyAAAAZwYAAKI0DgrIYi4l2XlA
		NeJiLiXZNA4KxwYAAKEAAABoAAAAMwAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAfAAAAI8AAACVAAAAjgAAAHsAAABbAAAANAAAABIAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEUA
		AAA2AAAAIgAAAA4AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAARAAAACwAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHQAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		0QAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAdF0AAHRdAAB0XQAAAAAAAAAAA==
		</data>
		<key>FontFamily</key>
		<string>JetBrainsMonoNF-Regular</string>
		<key>FontSize</key>
		<real>18</real>
		<key>GeekletFrame</key>
		<string>{{150, 540}, {260, 48}}</string>
		<key>HasShadow</key>
		<true/>
		<key>RefreshInterval</key>
		<integer>1</integer>
		<key>SetLocale</key>
		<true/>
		<key>SuccessImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgBAQFYFhUWqygnKOEvLi/9KCco4RYVFqsBAQFYAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGAwZ8Pj0+8peYl//S0tP/4+Tl/9LS0/+XmJf/
		Pj0+8gYDBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAUDAQJlLTEt9HqRff+4
		0Ln/1efT/9jo1f/V59P/uNG5/3qRff8tMS30AwECZQAAAAUAAAAA////AAAA
		AAAAAAAmEBYQyz1tP/9Xm03/eLJX/4e6YP+HuWL/h7pg/3ixV/9Wmk3/PWw/
		/xAWEMsAAAAmAAAAAP///wAAAAAAAAAAThY8Gvc8jjD/TJwb/2CnHf9rryz/
		bLEv/2ywLP9iqR7/TJ4b/zyQMP8WPBr3AAAATQAAAAD///8AAAAAAQAIAGge
		YRv/VaUq/2WvIP91uzb/gsZI/4bIS/+DyEj/d743/2exIP9WqSr/HmIb/wAI
		AGcAAAAB////AAAAAAgADABsJ3MY/3C6Nv9/xz3/kNNT/57dYv+i32f/n99k
		/5HWVP+AyD3/cr02/yd0GP8ADQBsAAAACf///wAAAAAMAAYAYydqEPB/yD7/
		lNhW/6PlZv+x8Xb/uPd8/7P0eP+k6Gf/ldpX/4DLQP8maxDvAAYAYwAAAAv/
		//8AAAAADwAAAE4XRwXLd8Y5/6foa/+393v/wv6F/8r/i//F/4b/uPt8/6ru
		bP95yTr/F0kFygAAAEwAAAAN////AAAAAAwAAAAyAAwAjEB6GOyh7Vz/yP+J
		/9X/mP/b/5//2P+b/83/i/+m9F3/Qn4X7AEMAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF4GFQCpTIQc6ZbZU/zC+3n/2P+L/8T6fP+a21b8UIkd6AYXAKkA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAzAAAAZwAFAKIaMwTHQGIZ2FV5
		JuFAYhnZGzQEyAAFAKAAAABnAAAAMgAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAewAAAI8AAACWAAAAjwAAAHsAAABcAAAAMwAAABEAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEcA
		AAA2AAAAIQAAAA0AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAASAAAADAAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHQAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		zQAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAczOAAHMzgABzM4AAAAAAAAAAA==
		</data>
		<key>TextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg63/fz8BAQGG
		</data>
		<key>TextStrikethrough</key>
		<integer>0</integer>
		<key>TextUnderline</key>
		<integer>0</integer>
	</dict>
	<key>79E8BA3C-D078-47E4-90B8-83B26EA8F877</key>
	<dict>
		<key>GeekletFrame</key>
		<string>{{0, 0}, {0, 0}}</string>
	</dict>
	<key>C8D93E8D-9D69-4C18-B33E-0F21BD7C811A</key>
	<dict>
		<key>GeekletFrame</key>
		<string>{{0, 0}, {0, 0}}</string>
	</dict>
	<key>FD2A02F5-42C5-41C6-BD3D-C8D6A05CE344</key>
	<dict>
		<key>Command</key>
		<string>/Users/jagashira/.local/bin/geeklets/cpu_ram.sh</string>
		<key>DisplayID</key>
		<integer>1</integer>
		<key>DropShadow</key>
		<false/>
		<key>FailureImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgAAQFYGBYWqysoKOExLy/9Kygo4RgWFqoAAQFXAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGBgZ8Rz4+8qWXl//c09P/6+Tl/93T0/+ll5f/
		Rz4+8gYGBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAQHAgJkSS0t9Kt9ff/c
		t7j/7NHS/+7T0//s0dL/3be4/6t9ff9JLS30BwICZQAAAAUAAAAA////AAAA
		AAAAAAAmLhAQzJA+P/+1TEv/xmNe/8twav/LcGr/y3Bq/8ZjXf+0TEv/kD4/
		/y4QEMwAAAAmAAAAAP///wAAAAAABgAATmAZGvitMi//uSwh/8E+Mf/HTED/
		yU9D/8hNQP/DPjL/uiwi/64xL/9gGRr4BwAATQAAAAD///8AAAAAARUAAGiJ
		GBr/wzgx/8tCNP/TV0n/3WZa/+BqXf/eaFr/1VhL/85DNP/GOTL/ihga/xYA
		AGcAAAAB////AAAAAAkYAABslRoW/9JNQP/dYFL/63Jm//KAdv/2hXv/9IF3
		/+10Zv/gYVP/1k5B/5YaFv8YAABrAAAACP///wAAAAANDAAAY4UZEu/iXU3/
		8Hhr//yFef/+lYn//puP//+Xiv/8h3r/8Xlr/+ZdTv+HGRLwDQAAZAAAAAv/
		//8AAAAADwAAAE5aDAfL4FZI//6LgP//mI7//qSY//+rnv/+p5r//5qP//+N
		gf/nWEn/Ww0HywAAAE0AAAAN////AAAAAAwAAAAyDwAAjJInH+z/gHL//6qe
		//+4rP//vrL//7uu//+soP//g3X/lioh7BEAAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF0dAACpkTUq6dt2Z/z6n5D//7Sj//qhkv/bd2r8kTYr6R4AAKoA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAyAAAAZwYAAKI0DgrIYi4l2XlA
		NeJiLiXZNA4KxwYAAKEAAABoAAAAMwAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAfAAAAI8AAACVAAAAjgAAAHsAAABbAAAANAAAABIAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEUA
		AAA2AAAAIgAAAA4AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAARAAAACwAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHAAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		0QAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAdF0AAHRdAAB0XQAAAAAAAAAAA==
		</data>
		<key>FontFamily</key>
		<string>JetBrainsMonoNF-Regular</string>
		<key>FontSize</key>
		<real>14</real>
		<key>GeekletFrame</key>
		<string>{{384.22265625, 208.87109375}, {108, 63}}</string>
		<key>HasShadow</key>
		<false/>
		<key>RefreshInterval</key>
		<integer>2</integer>
		<key>SetLocale</key>
		<true/>
		<key>SuccessImage</key>
		<data>
		TU0AKgAABAj///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAAAAGgAAACAA
		AAAaAAAADQAAAAAAAAAAAAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAA
		AAgBAQFYFhUWqygnKOEvLi/9KCco4RYVFqsBAQFYAAAACAAAAAAAAAAAAAAA
		AP///wAAAAAAAAAAAAAAAAgGAwZ8Pj0+8peYl//S0tP/4+Tl/9LS0/+XmJf/
		Pj0+8gYDBnwAAAAIAAAAAAAAAAD///8AAAAAAAAAAAUDAQJlLTEt9HqRff+4
		0Ln/1efT/9jo1f/V59P/uNG5/3qRff8tMS30AwECZQAAAAUAAAAA////AAAA
		AAAAAAAmEBYQyz1tP/9Xm03/eLJX/4e6YP+HuWL/h7pg/3ixV/9Wmk3/PWw/
		/xAWEMsAAAAmAAAAAP///wAAAAAAAAAAThY8Gvc8jjD/TJwb/2CnHf9rryz/
		bLEv/2ywLP9iqR7/TJ4b/zyQMP8WPBr3AAAATQAAAAD///8AAAAAAQAIAGge
		YRv/VaUq/2WvIP91uzb/gsZI/4bIS/+DyEj/d743/2exIP9WqSr/HmIb/wAI
		AGcAAAAB////AAAAAAgADABsJ3MY/3C6Nv9/xz3/kNNT/57dYv+i32f/n99k
		/5HWVP+AyD3/cr02/yd0GP8ADQBsAAAACf///wAAAAAMAAYAYydqEPB/yD7/
		lNhW/6PlZv+x8Xb/uPd8/7P0eP+k6Gf/ldpX/4DLQP8maxDvAAYAYwAAAAv/
		//8AAAAADwAAAE4XRwXLd8Y5/6foa/+393v/wv6F/8r/i//F/4b/uPt8/6ru
		bP95yTr/F0kFygAAAEwAAAAN////AAAAAAwAAAAyAAwAjEB6GOyh7Vz/yP+J
		/9X/mP/b/5//2P+b/83/i/+m9F3/Qn4X7AEMAIsAAAAzAAAADP///wAAAAAF
		AAAAIAAAAF4GFQCpTIQc6ZbZU/zC+3n/2P+L/8T6fP+a21b8UIkd6AYXAKkA
		AABcAAAAIAAAAAX///8AAAAAAQAAAA0AAAAzAAAAZwAFAKIaMwTHQGIZ2FV5
		JuFAYhnZGzQEyAAFAKAAAABnAAAAMgAAAA0AAAAB////AAAAAAAAAAADAAAA
		EQAAADQAAABdAAAAewAAAI8AAACWAAAAjwAAAHsAAABcAAAAMwAAABEAAAAD
		AAAAAP///wAAAAAAAAAAAAAAAAMAAAAOAAAAIQAAADYAAABGAAAATAAAAEcA
		AAA2AAAAIQAAAA0AAAAEAAAAAAAAAAD///8AAAAAAAAAAAAAAAAAAAAAAQAA
		AAUAAAALAAAAEAAAABMAAAASAAAADAAAAAUAAAABAAAAAAAAAAAAAAAAABAB
		AAADAAAAAQAQAAABAQADAAAAAQAQAAABAgADAAAABAAABM4BAwADAAAAAQAB
		AAABBgADAAAAAQACAAABCgADAAAAAQABAAABEQAEAAAAAQAAAAgBEgADAAAA
		AQABAAABFQADAAAAAQAEAAABFgADAAAAAQAQAAABFwAEAAAAAQAABAABHAAD
		AAAAAQABAAABKAADAAAAAQACAAABUgADAAAAAQACAAABUwADAAAABAAABNaH
		cwAHAAACcAAABN4AAAAAAAgACAAIAAgAAQABAAEAAQAAAnBhcHBsAhAAAG1u
		dHJSR0IgWFlaIAfpAAgAHAAAAAAAAGFjc3BBUFBMAAAAAEFQUEwAAAAAAAAA
		AAAAAAAAAAAAAAD21gABAAAAANMtYXBwbAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC2Rlc2MAAAEIAAAAdGNwcnQA
		AAF8AAAAI3d0cHQAAAGgAAAAFHJYWVoAAAG0AAAAFGdYWVoAAAHIAAAAFGJY
		WVoAAAHcAAAAFHJUUkMAAAHwAAAADnZjZ3QAAAIAAAAAMG5kaW4AAAIwAAAA
		PmJUUkMAAAHwAAAADmdUUkMAAAHwAAAADmRlc2MAAAAAAAAAGkNhbGlicmF0
		ZWQgUkdCIENvbG9yc3BhY2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAyNQAAWFla
		IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAA
		AABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9jdXJ2AAAAAAAAAAEB
		zQAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
		AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYAAA9cAABQ
		DQAAVDkAAczOAAHMzgABzM4AAAAAAAAAAA==
		</data>
		<key>TextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg63/fz8BAQGG
		</data>
		<key>TextStrikethrough</key>
		<integer>0</integer>
		<key>TextUnderline</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
